@import url('https://fonts.googleapis.com/css?family=Patrick+Hand|Fredoka+One');

/* base */

/* override browser default */
html,
body {
	margin: 0;
	padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
	height: 100vh;
	// width: 100vw;
}

/* include border and padding in element width and height */
* {
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

@mixin padding {
	padding: 10px;
}

$primary: orange;
$light-cheese: #ffb97b;
$gravy: #86644f;

$header-height: 75px;
$info-height: 200px;


body {
	//font-family: 'Patrick Hand', cursive;
	font-family: 'Fredoka One', cursive;
	color: $gravy;

	background-color: $gravy;
}

.container {}

h1 {
	color: $primary;
}

p {
	color: $primary;
}

a {
	text-decoration: none;
	color: $primary;
}

a:hover {
	color: $light-cheese;
}

header {
	background-color: $gravy;

	padding-left: 20px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	flex-wrap: wrap;

	.header-links {
		ul {
			// padding: 0;
			display: flex;
			flex-direction: row;
			// justify-content: space-around;

			li {
				display: inline-block;
				// margin-left: 10px;
				padding: 0 20px;
			}
		}

	}

	.powered_by {
		// position: absolute;
		// top: 10px;
		// right: 10px;

		display: flex;
		flex-direction: row;
		align-items: center;
		// justify-content: space-between;
		min-width: 200px;

		div {
			// display: inline-block;
			// padding-top: 10px;
			color: white;
		}

		img.yelp_logo {
			margin-left: 10px;
			height: 50px;
		}
	}

}

/**** main *****/

main {
	display: flex;
	flex-direction: row;
	// flex-wrap: wrap;

	// TODO: wrap on media breakpoint
}

@media screen and (max-width: 780px) {
	main {
		flex-direction: column;
	}
}

.left {
	// min-width: 30%;
	background: #ffdb99;
	padding-top: 10px;
}

.right-wrapper {
	display: flex;
	// flex-direction: column;
	flex-direction: row;
}

@media screen and (max-width: 780px) {
	.right-wrapper {
		flex-direction: column;
	}
}

.top-right {
	// background-color: #ffa500;
	background-color: #e69500;
	flex-basis: 30%;
}

.bottom-right {
	background-color: #e69500;
	flex-basis: 70%;
}

.place-list {
	display: flex;
	flex-direction: column;
	// remove browser default list indentation
	padding: 0;
	margin: 0;

	// enforce names to be visible
	min-width: 300px;

	.place-list-item {
		background-color: #e69500;
		border: 2px dashed $gravy;
		color: $gravy;
		cursor: pointer;
		padding: 5px;

		.place-name {
			font-size: 20px;
		}

		&.selected {
			border: 2px solid $gravy;
			background-color: #86644f;

			.place-name {
				color: $light-cheese;
			}
		}
	}
}

@media screen and (max-width: 780px) {
	.place-list {
		flex-direction: row;
		max-width: 780px;
		overflow: scroll;
	}
}

.place-detail-info {
	background-color: #e69500;
	// border: 2px dashed $gravy;
	color: $gravy;
	// margin: 10px auto;
	// width: 90%;
	padding: 10px;

	.place-rating {
		// flex-grow: 2;
		margin: 20px;

		.checked {
			color: orange;
		}
	}

	.detail-body {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: stretch;

		flex-wrap: wrap;

		img.place-image {
			width: 80%;
			// height: 200px;
			margin: 10px;
		}

		.reviews {
			.review {
				// margin: 20px;

				display: flex;
				flex-direction: row;
				// flex-direction: column;
				// flex-wrap: wrap;	// wrap onto multiple lines
				// justify-content: flex-end; // right-justified
				// align-items: flex-start;
				// align-content: flex-start;

				.text {
					// flex-grow: 2;

					padding: 5px;
					font-size: 12px;
					font-family: arial;
					font-weight: bold;
					font-style: italic;
				}

				.user {
					display: flex;
					flex-direction: column;
					// border: 2px solid $gravy;

					img {
						width: 75px;
						// height: 75px;
						margin: 5px;
					}
				}

			}

			.review-extras {
				display: flex;
				flex-direction: row;
				justify-content: space-between;

				font-size: 12px;

				.user-rating {}

				.time-created {}
			}
		}
	}
}